<!doctype html>
<html>
<head>
    <title>Copied</title>
    <style>
        body {
            background-color: #12151C;
        }
        
        h1 {
            color: #EDEDED;
            text-align: center;
            font-family: sans-serif;
        }
        @media screen and (max-width: 1000px) and (min-width: 700px) {
            h1 {
                font-size: 48pt;
                text-align: left;
                margin-left: 10px;
                margin-right: 10px;
            }
        }
    </style>
    <link rel="icon" 
          type="image/png" 
          href="./favicon.png" />
</head>
<body>
    <h1>Copied!</h1>
</body>
</html>
